<div class="view-port">

  <section class="view_section">
    <div class="view-section_head">
      <h1><a href="#">Spotify Playlists</a></h1>
      <p>
        <a href="#" *ngIf="canShowPrev" (click)="showPrev(); $event.preventDefault()" class="nav-link">← Voir précédent</a>
        &nbsp;&nbsp;
        <a href="#" *ngIf="canShowNext" (click)="showNext(); $event.preventDefault()" class="nav-link">Voir la suite →</a>
      </p>
    </div>

    <div class="view-section_content">
      <div *ngIf="visiblePlaylists.length === 0" class="no-songs">
        Aucune playlist trouvée.
      </div>
      <div class="play-list" *ngFor="let playlist of visiblePlaylists; trackBy: trackById" class="play-list">
        <div class="play_cover">
          <img [src]="playlist.image" [alt]="playlist.title">
          <!-- PlayButton -->
          <div class="play-cover_btn" (click)="openPlayer(playlist)">
            <svg role="img" height="24" width="24" viewBox="0 0 24 24" class="Svg-ytk21e-0 jAKAlG">
              <path d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z"></path>
            </svg>
          </div>
        </div>
        <p class="play_head">{{ playlist.title }}</p>
        <p class="play_desc">{{ playlist.description }}</p>
      </div>
    </div>

  </section>

  <app-player
  *ngIf="selectedPlaylist"
  [playlist]="selectedPlaylist"
  (close)="closePlayer()"
></app-player>

</div>
