<div >
  <div id="player-bg-artwork"></div>
  <div id="player-bg-layer"></div>

  <div id="player-container">

    <div id="player">


      <div id="player-content">
        <div class="close">
          <button (click)="close.emit()" class="close-button">✕</button>
        </div>
        <div id="album-art">
          <img [src]="playlist?.image" class="active" />
          <div id="buffer-box">Buffering ...</div>
        </div>
        <div id="player-controls">
          <div class="control">
            <div class="button" id="play-previous">
              <!-- Icone Previous -->
              <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" style="transform: scaleX(-1);">
                <path d="M5 6v12l8.5-6L5 6zm9 0v12h2V6h-2z" />
              </svg>
            </div>
          </div>

          <div class="control">
            <div class="button" id="play-pause-button" (click)="togglePlayPause()">
              <!-- Icone Play -->
              <svg *ngIf="!isPlaying" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M8 5v14l11-7z" />
              </svg>
              <svg *ngIf="isPlaying" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" /> <!-- Pause -->
              </svg>
            </div>
          </div>

          <div class="control">
            <div class="button" id="play-next">
              <!-- Icone Next -->
              <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M5 6v12l8.5-6L5 6zm9 0v12h2V6h-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
