<div>
  <div id="player-bg-artwork"></div>
  <div id="player-bg-layer"></div>

  <div id="player-container">

    <div id="player">

      <div id="player-content">
        <div class="close">
          <button (click)="close.emit()" class="close-button">✕</button>
        </div>
        <div id="album-art">
          <img
          [src]="playlist?.image"
          class="active"
          [class.rotating]="isPlaying"
          />
          <div id="buffer-box">Buffering ...</div>
        </div>

        <div id="player-controls">
          <div id="album-name">{{ playlist?.title }}</div>
          <div id="track-name">{{ playlist?.description }}</div>

          <div class="control">
            <div class="button" id="play-previous" (click)="playPrevious()">
              <!-- Icone Previous -->
              <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" style="transform: scaleX(-1);">
                <path d="M5 6v12l8.5-6L5 6zm9 0v12h2V6h-2z" />
              </svg>
            </div>
          </div>

              <!-- Song Details -->
          <div class="control">
            <div class="details">
              <p class="title"><strong>{{ currentSongTitle }}</strong></p>
              <p class="artist">{{ currentSongArtist }}</p>
            </div>
          </div>

          <div class="control">
            <div class="button" id="play-next" (click)="playNext()">
              <!-- Icone Next -->
              <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M5 6v12l8.5-6L5 6zm9 0v12h2V6h-2z" />
              </svg>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
